apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: site
  namespace: site
  labels:
    name: site
    role: web
spec:
  minReadySeconds: 30
  strategy:
    type: RollingUpdate
  replicas: 2
  template:
    metadata:
      name: site
      labels:
        name: site
        role: web
    spec:
      containers:
        - image: creasty/site:latest
          name: site
          readinessProbe:
            httpGet:
              path: ping
              port: 80
            timeoutSeconds: 100
            failureThreshold: 20
          ports:
            - containerPort: 8080
