apiVersion: v1
kind: Service
metadata:
  name: site
  namespace: site
  labels:
    name: site
    role: web
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8080
  selector:
    name: site
    role: web
  type: LoadBalancer
