<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
  <meta name="description" content="Hello. I'm Yuki Iwanaga, a software engineer pursuing beauty in both design and engineering">
  <meta name="google" value="notranslate">
  <meta name="twitter:card" content="summary">
  <meta property="fb:app_id" content="423468787678045">
  <meta property="og:description" content="Hello. I'm Yuki Iwanaga, a software engineer pursuing beauty in both design and engineering">
  <meta property="og:image" content="http://creasty.com/og_image.png">
  <meta property="og:site_name" content="Creasty">
  <meta property="og:title" content="Creasty | Yuki Iwanaga">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://creasty.com">

  <title>Creasty | Yuki Iwanaga</title>

  <link rel="canonical" href="http://creasty.com">
  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
  <div class="container">
    <h1><img src="<%= require('./images/logo.png') %>" width="196" height="44" alt="Creasty"></h1>

    <div class="main">
      <ul>
        <li><a href="https://github.com/creasty" target="_blank">github.com<i>/creasty</i></a></li>
        <li><a href="https://pinterest.com/creasty" target="_blank">pinterest.com<i>/creasty</i></a></li>
        <li><a href="https://linkedin.com/in/creasty" target="_blank">linkedin.com<i>/in/creasty</i></a></li>
        <li><a href="https://medium.com/@creasty" target="_blank">medium.com<i>/@creasty</i></a></li>
      </ul>
    </div>

    <p><img src="<%= require('./images/autograph.png') %>" width="93" height="57" alt="I am Yuki Iwanaga."> <b>Pursuing beauty in both design and engineering</b></p>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-4498942-3', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
