/*=== Reset
==============================================================================================*/
html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, span, a, em, strong, i, b,
sub, sup, blockquote, q, pre, code, abbr, acronym,
address, big, small, cite, del, dfn, img, ins, kbd,
s, samp, strike, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}
article, aside, details, embed, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block;
  margin: 0;
  padding: 0;
}
command, datalist, keygen, mark, meter,
progress, rp, rt, ruby, time, wbr {
  display: inline;
}
video, audio, canvas {
  display: inline-block;
  zoom: 1;
}

html {
  line-height: 1;
  overflow-y: scroll;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

img {
  vertical-align: bottom;
  -ms-interpolation-mode: bicubic;
}
a img { border: none; }
svg:not(:root) { overflow: hidden; }

q, blockquote { quotes: none; }
q:before, q:after,
blockquote:before, blockquote:after {
  content: "";
  content: none;
}

ol,
ul { list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}

:focus { outline: 0; }
button::-moz-focus-inner,
input::-moz-focus-inner,
select::-moz-focus-inner {
  padding: 0;
  border: none;
}

a { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
a,
a:hover { text-decoration: none; }

audio:not([controls]) { display: none; }
[hidden] { display: none !important; }


/*=== Fonts
==============================================================================================*/
/*
@font-face {
  font-family: 'dincond-medium';
  src: url('/assets/fonts/dincond/medium.eot');
  src:
    url('/assets/fonts/dincond/medium.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/dincond/medium.woff2') format('woff2'),
    url('/assets/fonts/dincond/medium.woff') format('woff'),
    url('/assets/fonts/dincond/medium.ttf') format('truetype'),
    url('/assets/fonts/dincond/medium.svg#medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/


/*=== Body
==============================================================================================*/
html, body {
  overflow: hidden;
  height: 100%;
}

body {
  background: #e7e9ea;
  font: 12px/1.7 'dincond-medium', Arial, Helvetica;
  color: #616d71;
  cursor: default;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  font-smoothing: antialiased;
  user-select: none;
}
